.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row-gap-1 {
  gap: 1rem;
}

.flex-row-gap-2 {
  gap: 2rem;
}

.flex-col-gap-1 {
  column-gap: 1rem;
}

.flex-col-gap-2 {
  column-gap: 2rem;
}

.flex-col-gap-4 {
  column-gap: 4rem;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-cx-center {
  align-items: center;
}

/* positions */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-xs {
  padding: 0.5rem;
}

.p-s {
  padding: 1rem;
}

.pl-xs {
  padding-left: 0.5rem;
}

.br-full {
  border-radius: 50%;
}

.mt-xs {
  margin-top: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.ml-s {
  margin-left: 1rem;
}

.mr-s {
  margin-right: 1rem;
}

.mr-xl {
  margin-right: 5rem;
}

.mt-none {
  margin-top: 0;
}

.txt-left {
  text-align: left;
}

/* font styles */
.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-xl {
  font-weight: 700;
}

.txt-s {
  font-size: 1rem;
}

.txt-m {
  font-size: 1.5rem;
}

.txt-l {
  font-size: 3rem;
}
